.Folder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px  rgb(161, 161, 161);
    margin-bottom: 10px;
}

.Folder *{
    margin: 10px;
}

.icon{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    width: 5%;
    margin-top: 2px;
}

.FolderInfo{
    width: 75%;
    text-align: start;
}

.FolderInfo h2{
    margin: 0;
}

.FolderInfo p{
    margin: 0;
}

.lastPost{
    width: 20%;
}

.lastPost p{
    font-size: 0.8rem;
}

.title{
    font-size:x-large;
}

.subtitle{
    font-size:medium;
}

.link{
    color: #000;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}
